.git
.github
**/node_modules
**/dist
**/.env
**/.env.*
!**/.env.example
packages/contracts/artifacts
packages/contracts/cache
packages/contracts/ignition/deployments
postgres-data
redis-data
Dockerfile
docker-compose.yml
